{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/base.css' %}">
    <link rel="stylesheet" href="{% static 'styles/home.css' %}">
    <link rel="stylesheet" href="{% static 'styles/order.css' %}">
    <link rel="stylesheet" href="{% static 'styles/breakfast.css' %}">
    <link rel="stylesheet" href="{% static 'styles/lunch.css' %}">
    <link rel="stylesheet" href="{% static 'styles/dinner.css' %}">
    <link rel="stylesheet" href="{% static 'styles/orderinfo.css' %}">
    <link rel="stylesheet" href="{% static 'styles/sign.css' %}">
    <link rel="stylesheet" href="{% static 'one.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Base</title>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>

    <style>
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
      }
      
      li {
        float: left;
      }
      
      li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }
      
      li a:hover {
        background-color: #111;
      }
      .logo{
          color:white;

      }
      /* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
  color: white;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
  color: white;
}
      </style>

</head>
<body>
    <div class="pagewrapper">
<div class="header">
        <div class="logo">
            The Food
        </div>

        <ul class="nav">
  
                <li><a href="http://127.0.0.1:8000/">Home</a></li>
                <li><a href="http://127.0.0.1:8000/donatefood/donate">Donate Food</a></li>
                <li><a href="http://127.0.0.1:8000/order/">Order</a></li>
                {% if user.is_authenticated %}
                <li id="s">{{user.first_name}}</li>
                <li><a href="http://127.0.0.1:8000/accounts/logout">Logout</a></li><br>
                {% else %}
                <li><a href="http://127.0.0.1:8000/accounts/signup">Sign Up</a></li>
                <li><a href="http://127.0.0.1:8000/accounts/login">Login</a></li><br>
                {% endif %}
        </ul>
</div>

    {% block content %}


    {% endblock %}
</div> 
    <footer>
        <div class="footer">
            <div class="row">
                <div class="column">
                    The Food<br><br>
                    Thought of donating food? Here's an easy way to donate food with "The Food"<br><br>
                    Hungry? There's always food for everyone..Order your food whenever wherever you want without the need for login and pay for the food with what you have
                </div>
                <div class="column">
                    <ul>
                        <li><a href="http://127.0.0.1:8000/">Home</a></li>
                        <li><a href="http://127.0.0.1:8000/donatefood/donate">Donate Food</a></li>
                        <li><a href="http://127.0.0.1:8000/order/">Order</a></li>
                        <li><a href="http://127.0.0.1:8000/accounts/signup">Sign Up</a></li>
                        <li><a href="http://127.0.0.1:8000/accounts/login">Login</a></li>
                    </ul>
                    
                </div>
                <div class="column">
                    Follow on<br><br>
                    <i class="fa fa-facebook-official"></i>&nbsp &nbsp Facebook<br><br>
                    <i class="fa fa-instagram" aria-hidden="true"></i>&nbsp &nbsp Instagram<br><br>
                    <i class="fa fa-github" aria-hidden="true"></i>&nbsp &nbsp Github                  
                </div>
            </div>
            <div class="column">
                Designed By Narayanan
            </div>
        </div>
        
    </footer>
<script>
    function increaseValue1() {
        var value = parseInt(document.getElementById('number1').value, 10);
        value = isNaN(value) ? 0 : value;
        value++;
        document.getElementById('number1').value = value;
      }
      
      function decreaseValue1() {
        var value = parseInt(document.getElementById('number1').value, 10);
        value = isNaN(value) ? 0 : value;
        value < 1 ? value = 1 : '';
        value--;
        document.getElementById('number1').value = value;
      }
      
      function increaseValue2() {
        var value = parseInt(document.getElementById('number2').value, 10);
        value = isNaN(value) ? 0 : value;
        value++;
        document.getElementById('number2').value = value;
      }
      
      function decreaseValue2() {
        var value = parseInt(document.getElementById('number2').value, 10);
        value = isNaN(value) ? 0 : value;
        value < 1 ? value = 1 : '';
        value--;
        document.getElementById('number2').value = value;
      }
      
      function increaseValue3() {
        var value = parseInt(document.getElementById('number3').value, 10);
        value = isNaN(value) ? 0 : value;
        value++;
        document.getElementById('number3').value = value;
      }
      
      function decreaseValue3() {
        var value = parseInt(document.getElementById('number3').value, 10);
        value = isNaN(value) ? 0 : value;
        value < 1 ? value = 1 : '';
        value--;
        document.getElementById('number3').value = value;
      }
      
      function increaseValue4() {
        var value = parseInt(document.getElementById('number4').value, 10);
        value = isNaN(value) ? 0 : value;
        value++;
        document.getElementById('number4').value = value;
      }
      
      function decreaseValue4() {
        var value = parseInt(document.getElementById('number4').value, 10);
        value = isNaN(value) ? 0 : value;
        value < 1 ? value = 1 : '';
        value--;
        document.getElementById('number4').value = value;
      }
      
      function increaseValue5() {
        var value = parseInt(document.getElementById('number5').value, 10);
        value = isNaN(value) ? 0 : value;
        value++;
        document.getElementById('number5').value = value;
      }
      
      function decreaseValue5() {
        var value = parseInt(document.getElementById('number5').value, 10);
        value = isNaN(value) ? 0 : value;
        value < 1 ? value = 1 : '';
        value--;
        document.getElementById('number5').value = value;
      }
      
      function increaseValue6() {
        var value = parseInt(document.getElementById('number6').value, 10);
        value = isNaN(value) ? 0 : value;
        value++;
        document.getElementById('number6').value = value;
      }
      
      function decreaseValue6() {
        var value = parseInt(document.getElementById('number6').value, 10);
        value = isNaN(value) ? 0 : value;
        value < 1 ? value = 1 : '';
        value--;
        document.getElementById('number6').value = value;
      }
</script>
 
</body>
</html>