{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="b1d">
    <div class="container3d">
        
    <div class="box">
        <a href="http://127.0.0.1:8000/donatefood/donateyou" class="content">
        <div class="icon1">Y</div>
        <h2>
            Donate Food You Have</a>    
        </h2>
    </div>
    <div class="box">
        <a href="http://127.0.0.1:8000/donatefood/thedonate" class="content">
        <div class="icon1">T</div>
        <h2>
            Donate Food From "The Food"</a>      
        </h2>       
        
    </div>

</div>
{% endblock %}    