{% extends 'base3.html' %}
{% load static %}
{% block content %}

<div class="oi31">
<br>
<br>
<br>
<br>


            <center>
                <div class="oi3">
                  Your Name: {{ydname}}<br>
                  Your Address: {{ydaddress}}<br>
                  Delivery Address: {{yddaddress}}<br>
                  Contact Number: {{ydcontact}}<br>
                  No.Of People: {{ydpeople}}<br>
                  Food You Donate: {{ydfood}}<br>
                  <br><br>
                  Thank You For Donating Food
                  <br>
                  Keep Smiling And Be Happy Always !
 
                </div>
            </center>
    
          </div>
          

{% endblock %}