{% extends 'base3.html' %}
{% load static %}
{% block content %}

<div class="oi31">
<br>
<br>
<br>
<br>


            <center>
                <div class="oi3">
                  Your Name: {{ytdname}}<br>
                  Your Address: {{tdaddress}}<br>
                  Contact Number: {{tdcontact}}<br>
                  No.Of People: {{tdpeople}}<br>
                  Orphanage Name: {{tdorphanage}}<br>
                  <br><br>
                  Thank You For Donating Food
                  <br>
                  Keep Smiling And Be Happy Always !
                </div>
            </center>
    
          </div>
          

{% endblock %}