{% extends 'base.html' %}
{% load static %}

{% block content %}


    <div class="containerb">

        <img src="{% static 'img/Are-natural-foods-and-clean-labels-sustainable.jpg' %}" alt="home" class="left" height="70%" width="100%">
        
        <div class="hofo">
            <h4>Donate Food<br>
            <br>
            Hungry?<br>
            Order Food<br></h4>
        </div>

        <div class="box1">

        <div class="button_cont"><a class="example_e" href="http://127.0.0.1:8000/donatefood/donate">Donate Food</a></div>
        <hr>
        <div class="button_cont"><a class="example_e" href="http://127.0.0.1:8000/order/">Order Food</a></div>
        <div class="button_cont"><a class="example_e" href="http://127.0.0.1:8000/accounts/login">Login</a>
        <a class="example_e" href="http://127.0.0.1:8000/accounts/login">Sign Up</a></div>

    </div>
    </div>
    <div class="containerb2">
    <img src="{% static 'img/farmer2.jpg' %}" alt="login" width="100%">
    <div class="hofo2">
        <h4>Thought of<br> Donating food? <br>Here's an easy way <br> Donate food with<br> "The Food"</h4>
    </div>
    <div class="hofo3">
        <h4>
            Hungry?<br>
            There's always food<br> For everyone<br>
            Order your food <br><br>
            <br>Whenever wherever you want <br>
            Without the need for login <br>
            Pay for the food with what you have
        </h4>
    </div>
    </div>
    <div class="containerb3">
    <img src="{% static 'img/67270-gettyimages-928553584-marilyna.1200w.tn.jpg' %}" alt="img" class="left2">
    <div class="hofo4">
        <h4>
            Sign Up & Login<br>If you are interested to be <br>Our Frequent User
        </h4>
    </div>
    </div>

   
        
{% endblock %}
    
