{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="b1">
    <div class="container3">
        
    <div class="box">
        <a href="http://127.0.0.1:8000/order/breakfast" class="content">
        <div class="icon1">B</div>
        <h2>
            Breakfast</a>    
        </h2>
    </div>
    <div class="box">
        <a href="http://127.0.0.1:8000/order/lunch" class="content">
        <div class="icon1">L</div>
        <h2>
            Lunch</a>      
        </h2>       
        
    </div>
    <div class="box">
        <a href="http://127.0.0.1:8000/order/dinner" class="content">
        <div class="icon1">D</div>
        <h2>
            Dinner</a> 
        </h2>          
    </div>
</div>
</div>

<div class="b2">
  <div class="container4">
    <div class="containero4">
        <h2>Hungry?<br>
        Order Food at that instant<br>
        Without the need for <br> An account<br>
        Pay for the bill with what you have</h2></div>
    
    <div class="containero5">
        <h2>The Food<br>
        Available for all People<br>
          Irrespective of any barriers</div></h2>
    
  </div>
</div>
{% endblock %}    
